<!DOCTYPE HTML>
<html>
	<head>
         {% load static %}
		<title>Video Explanation</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="{% static 'videotemplate/assets/css/main.css' %}" />
	</head>
	<body id="top">

			<!-- Banner -->
			<!--
				To use a video as your background, set data-video to the name of your video without
				its extension (eg. images/banner). Your video must be available in both .mp4 and .webm
				formats to work correctly.
			-->
				<section id="banner" data-video="{% static 'videotemplate/videos/triequi1' %}">
					<div class="inner">
						<header>
							<h1>Video Explanation</h1>
							<p>Explanatory videos to three blackbox testing methods - Decision table method,equivalence class method and boundary value method<br />
							with the help of triangle problem, next date problem and commission problem.</p>
						</header>
						<a href="#main" class="more">Learn More</a>
					</div>
				</section>

			<!-- Main -->
				<div id="main">
					<div class="inner">

					<!-- Boxes -->
						<div class="thumbnails">

							<div class="box">
								<a href="https://youtu.be/n7nDVl8ikfw" class="image fit"><img src="images/pic01.jpg" alt="" /></a>
								<div class="inner">
									<h3>Boundary Value Analysis</h3>
									<p>Understanding boundary value analysis using triangle problem</p>
									<a href="https://youtu.be/n7nDVl8ikfw" class="button fit" data-poptrox="youtube,800x400">Watch</a>
								</div>
							</div>

							<div class="box">
								<a href="https://youtu.be/62VHhLUWBHQ" class="image fit"><img src="images/pic02.jpg" alt="" /></a>
								<div class="inner">
									<h3>Decision Table Method</h3>
									<p>Understanding decision table method using next date problem</p>
									<a href="https://youtu.be/62VHhLUWBHQ" class="button style2 fit" data-poptrox="youtube,800x400">Watch</a>
								</div>
							</div>

							<div class="box">
								<a href="https://youtu.be/i9hnhTK1IlQ" class="image fit"><img src="images/pic03.jpg" alt="" /></a>
								<div class="inner">
									<h3>Equivalence class partitioning </h3>
									<p>Understanding equivalence class partitioning using commission problem.</p>
									<a href="https://youtu.be/i9hnhTK1IlQ" class="button style3 fit" data-poptrox="youtube,800x400">Watch</a>
								</div>
							</div>

							<div class="box">
								<a href="https://youtu.be/pnkeTPpTpoU" class="image fit"><img src="images/pic04.jpg" alt="" /></a>
								<div class="inner">
									<h3>Equivalence class partitioning</h3>
									<p>Understanding equivalence class partitioning using triangle problem</p>
									<a href="https://youtu.be/pnkeTPpTpoU" class="button style2 fit" data-poptrox="youtube,800x400">Watch</a>
								</div>
							</div>

							<div class="box">
								<a href="https://youtu.be/40IMy5vlk0U" class="image fit"><img src="images/pic05.jpg" alt="" /></a>
								<div class="inner">
                                    <h3>Boundary Value Analysis</h3>
									<p>Understanding boundary value analysis using commission problem</p>
									<a href="https://youtu.be/40IMy5vlk0U" class="button style3 fit" data-poptrox="youtube,800x400">Watch</a>
								</div>
							</div>

							<div class="box">
								<a href="https://youtu.be/KHUlci25IOI" class="image fit"><img src="images/pic06.jpg" alt="" /></a>
								<div class="inner">
                                    <h3>Decision Table Method</h3>
									<p>Understanding decision table method using commission problem</p>
									<a href="https://youtu.be/KHUlci25IOI" class="button fit" data-poptrox="youtube,800x400">Watch</a>
								</div>
							</div>

						</div>

					</div>
				</div>

			<!-- Footer -->
				<footer id="footer">
					<div class="inner">
						<h2>About  Us</h2>
						<p>This project was created by Swathi.P and Tabassum Sarwar for Web Mini Project .<br>
                            BMSIT College , Information Science Department Avalahalli,Bangalore </p>
						<p class="copyright">&copy;Copyright Software Testing 2019</p>
					</div>
				</footer>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/jquery.poptrox.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>